html, body {
    background-color: #f9f9f9;
    max-width: 500px;
    max-height: 438px;
    margin: 0px !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

.error {
    width: 500px;
    padding: 1em;
    background-color: tomato;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #b31217;
}

#menu {
    text-align: left;
    background-color: #ffffff;
    padding: 10px 5px 5px 0px;
    height: 30px;
}
#query {
    width: 455px;
    padding: 8.5px 15px;
    margin: 5px;
    color: #767676;
    border: 2px solid #CCCCCC;
    position: fixed;
    top: 0px;
}
#query:focus{
    border-color: #2980b9;
}


.list {
    padding: 0px 15px 0px 5px;
    color: grey;
    float: left;
    display: block;
    width: 500px;
    float: left;
    display: block;
    margin: 0;
    overflow: auto;
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    border-right: 0px;
    border-left: 0px;
    margin-left: 5px;
}

ul li {
    border-bottom: 1px solid #ddd;
}

ul li:hover {
    background-color: #cccccc;
}

ul li:last-child {
    border-bottom: none;
}

#scrollable {
    width: 495px;
    max-height: 390px;
    overflow-y: auto;
    margin-bottom: 2.5px;
    overflow-x: hidden;
}

li a {
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
    margin-right: 10px;
    padding: 8px 16px;
    display: block;
    width: 456px;
    height: 100%;
}

a:link {
    color: #767676;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #003366;
    text-decoration: none;
}

a:hover {
    color: black;
}

a:active {
}

li {
    padding: 0px;
    overflow-x: hidden;
}

.channel,
.title {
    overflow: hidden;
    padding-left: 1ch;
}

.channel {
    color: black;
}

.title {
    font-weight: lighter;
}

a img {
    height: 3em;
    float: left;
}
