:root {
    /* These are the max dimensions of a popup window for a chrome extension */
    --max-height: 600px;
    --max-width: 800px;

    --top-bar-bg: #181a1b;
    --input-border-color: #303030;
    --input-bg: #0e0f0f;
    --input-vertical-padding: 8.5px;
    --bg: #121414;
    --scroll-track: #202324;
    --scroll-bar: #575e62;
    --title-color: #e8e6e3;
    --channel-color: #a5a096;
    --video-hover-bg: #484848;

    --container-border-width: 3px;
    --menu-padding: 10px;
    --menu-height: 35px;
    --scroll-bar-thickness: 8px;
    --menu-padding: 10px;

    --usable-width: calc(var(--max-width) - 2 * var(--container-border-width));
    --usable-height: calc(var(--max-height) - 2 * var(--menu-padding) - 2 * var(--container-border-width));
    --query-width: calc(100% - (calc(6px + 2 * var(--menu-padding) + 2 * var(--container-border-width))));

    --fetch-btn-width: 55px;
    --fetch-btn-margin: 5px;
}

html, body {
    background-color: var(--bg);
    width: var(--usable-width);
    margin: 0px;
}

.error {
    --padding: 1em;

    width: calc(var(--usable-width) - 2 * var(--padding));
    padding: var(--padding);
    background-color: tomato;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-track);
}

::-webkit-scrollbar {
    width: var(--scroll-bar-thickness);
    background-color: var(--scroll-bar-track);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar);
    border-radius: 10px;
}

#menu {
    background-color: var(--top-bar-bg);
    padding: var(--menu-padding);
    height: var(--menu-height);
    top: var(--container-border-width);
    right: var(--container-border-width);
    width: calc(100% - 2 * var(--menu-padding));
}
#query {
    background-color: var(--input-bg);
    width: var(--query-width);
    padding: var(--input-vertical-padding) 15px;
    color: white;
    border: 1px solid var(--input-border-color);
}

#query.fetch-btn
{
    width: calc(var(--query-width) - var(--fetch-btn-width));
}

.video-list {
    margin: 0;
    list-style-type: none;
    padding: 0;
    font-weight: bold;
    font-size: 13px;
}

.video-list li {
    overflow-x: hidden;
}
.video-list li:not(#loading):hover {
    background-color: var(--video-hover-bg);
}

#scrollable {
    max-height: calc(var(--usable-height) - var(--menu-height));
    overflow-y: auto;
}

.hidden {
    display: none;
}

.spinner:not(.hidden) ~ .container #scrollable {
    min-height: 200px;
}

.spinner:not(.hidden) ~ .container {
    pointer-events: none;
    opacity: 30%;
}

.video-link {
    --padding: 10px;

    display: inline-block;
    text-decoration: none;
    height: 100%;
    padding: var(--padding);
    width: calc(100% - 2 * var(--padding));
}

.channel,
.title {
    overflow: hidden;
    padding-left: 1ch;
}

.channel {
    font-weight: lighter;
    color: var(--channel-color);
    padding-top: 0.3em;
    margin-bottom: 0.2em;
}

.title {
    color: var(--title-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0.2em;
}

.thumbnail {
    display: inline-flex;
    float: left;
}

.thumbnail img {
    height: 5em;
}

.container {
    border: var(--container-border-width) solid #7f7f7f;
}

.msg {
    color: white;
    text-align: center;
}

.fetch
{
    padding: var(--input-vertical-padding);
    background-color: #323232;
    color: #6f6f6f;
    border: none;
    cursor: pointer;
}

#query:not(.fetch-btn) ~ .fetch
{
    display: none;
}

/* SPINNER */
.spinner {
    --spinner-width: 150px;

    position: absolute;
    width: var(--spinner-width);
    height: var(--spinner-width);
    top: 50%;
    left: 50%;
    margin-top: calc(-0.5 * var(--spinner-width) + var(--menu-height));
    margin-left: calc(-0.5 * var(--spinner-width));
}

.spinner div {
    --width: calc(0.8 * var(--spinner-width));
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: var(--width);
    height: var(--width);
    margin: calc(0.1 * var(--spinner-width));
    border: calc(0.1 * var(--spinner-width)) solid #fff;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.spinner div:nth-child(1) {
    animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
    animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
