:root {
    /* These are the max dimensions of a popup window for a chrome extension */
    --max-height: 600px;
    --max-width: 800px;

    --primary-100: hsl(0,    0%,   6%);
    --primary-150: hsl(0,    0%,  11%);
    --primary-200: hsl(0,    0%,  19%);
    --primary-300: hsl(0,    0%,  56%);
    --primary-350: hsl(0,    0%,  65%);
    --primary-500: hsl(0,    0%,  91%);
    --primary-550: hsl(0,    0%, 100%);

    --secondary-100: hsl(9, 100%, 64%);

    --input-vertical-padding: 8.5px;
    --container-border-width: 3px;
    --menu-padding: 10px;
    --menu-height: calc(35px + 1em + var(--menu-padding));
    --scroll-bar-thickness: 8px;
    --menu-padding: 10px;

    --usable-width: calc(var(--max-width) - 2 * var(--container-border-width));
    --usable-height: calc(var(--max-height) - 2 * var(--menu-padding) - 2 * var(--container-border-width));
    --query-width: calc(100% - (calc(6px + 2 * var(--menu-padding) + 2 * var(--container-border-width))));

    --fetch-btn-width: 55px;
    --fetch-btn-margin: 5px;
}

html, body {
    background-color: var(--primary-100);
    width: var(--usable-width);
    margin: 0px;
}

.error {
    --padding: 1em;

    width: calc(var(--usable-width) - 2 * var(--padding));
    padding: var(--padding);
    background-color: var(--secondary-100);
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-150);
}

::-webkit-scrollbar {
    width: var(--scroll-bar-thickness);
    background-color: var(--scroll-bar-track);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-300);
    border-radius: 10px;
}

#menu {
    background-color: var(--primary-150);
    padding: var(--menu-padding);
    height: var(--menu-height);
    top: var(--container-border-width);
    right: var(--container-border-width);
    width: calc(100% - 2 * var(--menu-padding));
}
#query {
    background-color: var(--primary-100);
    width: var(--query-width);
    padding: var(--input-vertical-padding) 15px;
    color: var(--primary-550);
    border: 1px solid var(--primary-200);
}
.match-count {
    color: var(--primary-550);
    margin-top: var(--menu-padding);
}

#query.fetch-btn
{
    width: calc(var(--query-width) - var(--fetch-btn-width));
}

.video-list {
    margin: 0;
    list-style-type: none;
    padding: 0;
    font-weight: bold;
    font-size: 13px;
}

.video-list li {
    overflow-x: hidden;
}
.video-list li:not(#loading):hover {
    background-color: var(--primary-200);
}

#scrollable {
    max-height: calc(var(--usable-height) - var(--menu-height));
    overflow-y: auto;
}

.hidden {
    display: none;
}

.spinner:not(.hidden) ~ .container #scrollable {
    min-height: 200px;
}

.spinner:not(.hidden) ~ .container {
    pointer-events: none;
    opacity: 30%;
}

.video-link {
    --padding: 10px;

    display: inline-block;
    text-decoration: none;
    height: 100%;
    padding: var(--padding);
    width: calc(100% - 2 * var(--padding));
}

.channel,
.title {
    overflow: hidden;
    padding-left: 1ch;
}

.channel {
    font-weight: lighter;
    color: var(--primary-350);
    padding-top: 0.3em;
    margin-bottom: 0.2em;
}

.title {
    color: var(--primary-500);
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0.2em;
}

.thumbnail {
    display: inline-flex;
    float: left;
}

.thumbnail img {
    height: 5em;
}

.container {
    border: var(--container-border-width) solid var(--primary-350);
}

.msg {
    color: var(--primary-550);
    text-align: center;
}

.fetch
{
    padding: var(--input-vertical-padding);
    background-color: var(--primary-200);
    color: var(--primary-350);
    border: none;
    cursor: pointer;
}

#query:not(.fetch-btn) ~ .fetch
{
    display: none;
}

/* SPINNER */
.spinner {
    --spinner-width: 150px;

    position: absolute;
    width: var(--spinner-width);
    height: var(--spinner-width);
    top: 50%;
    left: 50%;
    margin-top: calc(-0.5 * var(--spinner-width) + var(--menu-height));
    margin-left: calc(-0.5 * var(--spinner-width));
}

.spinner div {
    --width: calc(0.8 * var(--spinner-width));
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: var(--width);
    height: var(--width);
    margin: calc(0.1 * var(--spinner-width));
    border: calc(0.1 * var(--spinner-width)) solid var(--primary-550);
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--primary-550) transparent transparent transparent;
}

.spinner div:nth-child(1) {
    animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
    animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
