:root {
    --top-bar-bg: #181a1b;
    --input-border-color: #303030;
    --input-bg: #0e0f0f;
    --bg: #121414;
    --scroll-track: #202324;
    --scroll-bar: #575e62;
    --title-color: #e8e6e3;
    --channel-color: #a5a096;
    --video-hover-bg: #484848;
}

html, body {
    background-color: var(--bg);
    width: 500px;
    max-height: 500px;
    margin: 0px;
}

.error {
    width: 500px;
    padding: 1em;
    background-color: tomato;
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-track);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--scroll-bar-track);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar);
    border-radius: 10px;
}

#menu {
    background-color: var(--top-bar-bg);
    padding: 10px;
    height: 35px;
    top: 3px;
    right: 3px;
    width: calc(100% - 20px);
}
#query {
    background-color: var(--input-bg);
    width: calc(100% - 31px);
    padding: 8.5px 15px;
    color: white;
    border: 1px solid var(--input-border-color);
}

.video-list {
    margin: 0;
    list-style-type: none;
    padding: 0;
    margin-left: 5px;
    font-weight: bold;
    font-size: 13px;
}

.video-list li {
    padding: 10px;
    overflow-x: hidden;
}
.video-list li:not(#loading):hover {
    background-color: var(--video-hover-bg);
}

#scrollable {
    max-height: 455px;
    overflow-y: auto;
}

.video-link {
    display: block;
    text-decoration: none;
}

.channel,
.title {
    overflow: hidden;
    padding-left: 1ch;
}

.channel {
    font-weight: lighter;
    color: var(--channel-color);
    padding-top: 0.3em;
    margin-bottom: 0.2em;
}

.title {
    color: var(--title-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0.2em;
}

.thumbnail {
    display: inline-block;
    float: left;
}

.thumbnail img {
    height: 5em;
}

.container {
    border: 3px solid #7f7f7f;
}

.msg {
    color: white;
    text-align: center;
}
